@use './variable' as vr;

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;
  border-radius: vr.$card-border-radius;
  flex-wrap: wrap;

  button {
    width: 150px;
    margin: 10px;
    color: rgba(41, 41, 41, 0.842);
    cursor: pointer;
    border-radius: vr.$card-border-radius;
    box-sizing: border-box;
    border: 2px solid transparent;
    padding: 20px;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.664);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: rgba(214, 214, 214, 0.185);
      border: 2px solid rgba(255, 255, 255, 0.74);
    }
    &:active {
      transform: scale(0.9);
    }
  }

  .random {
    background: rgb(223, 250, 70);
    color: rgb(53, 53, 53);

    &:hover {
      background: rgb(219, 255, 14);
    }
  }
}

.arrow {
  width: 20px;
}

.arrow-left {
  margin-right: 10px;
}

.arrow-right {
  margin-left: 10px;
}

@media screen and (max-width: 700px) {
  .button-wrapper {
    flex-wrap: nowrap;
    button {
      padding: 10px;
      width: auto;
      font-size: 1.5rem;
    }
  }

  .arrow {
    width: 10px;
  }
}
