@use './variable' as vr;

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;
  border-radius: vr.$card-border-radius;
  button {
    width: 150px;
    margin: 10px;
    color: rgba(41, 41, 41, 0.842);

    border-radius: vr.$card-border-radius;
    box-sizing: border-box;
    border: 2px solid transparent;
    padding: 20px;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.664);
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: rgba(214, 214, 214, 0.185);
      border: 2px solid rgba(255, 255, 255, 0.74);
    }
    &:active {
      transform: scale(0.9);
    }
  }
}

.arrow {
  width: 20px;
}

.arrow-left {
  margin-right: 10px;
}

.arrow-right {
  margin-left: 10px;
}
