@use './variable' as vr;

.card {
  max-width: 600px;
  min-width: 300px;
  width: 100%;
  min-height: 600px;
  padding: 10px;

  background: vr.$primary-bg;
  margin: auto;
  border-radius: vr.$card-border-radius;
  color: vr.$text-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 30px rgba(63, 63, 63, 0.315));
}

.inner-card {
  // filter: blur(1);
  width: 95%;
  margin: 20px auto;
  // height: calc(600px - 10%);
  border-radius: vr.$card-border-radius;

  // border: 5px solid vr.$theme-color-2;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  .profile-img {
    width: 150px;
    margin-top: 50px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 10px rgba(63, 63, 63, 0.671));
  }

  .profile-name {
    margin-top: 30px;
  }

  .links-container {
    // border: 1px solid #000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .location-parent {
    // border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .icon-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }

  .github-parent {
    // border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// .disabled {
//   display: none;
// }

@media screen and (max-width: 700px) {
  .card {
    min-height: 0;
    height: auto;
  }

  .profile-name {
    font-size: 2.5rem;
  }
}
